.sidebar {
    width: 25%;
    background-color: var(--color-white);
    min-height: 100%;
    position: relative;
}

.sidebar-wrapper {
    display: grid;
}

.user-info-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    margin: 0 0 16px 0;
    border-bottom: 1px solid var(--color-gray-opacity-10);
}

.user-icon {
    background-color: var(--color-gray-opacity-8);
    width: 40px;
    height: 40px;
    padding: 4px 0;
    position: relative;
}

.user-letter {
    color: var(--color-gray-opacity-40);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    position: absolute;
    left: 11px;
    top: 5px;
}

.username {
    color: var(--color-gray);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.user-cabinet {
    color: var(--color-gray-opacity-60);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.categories {
    display: grid;
    gap: 24px;
}

.btn-icon {
    display: inline-flex;
    align-items: center;
}

.category-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: var(--color-gray);
    padding: 0 0 0 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
}

.category-btn:hover {
    color: var(--color-blue);
    padding: 0 0 0 22px;
    position: relative;
}

.category-btn:hover .btn-icon svg path {
    stroke: var(--color-blue);
}

.category-btn::before {
    content: '';
    display: block;
    width: 2px;
    height: 0;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.category-btn:hover::before {
    height: 40px;
    background-color: var(--color-blue);
}

.active {
    position: relative;
}

.active::before {
    content: '';
    display: block;
    width: 2px;
    height: 40px;
    background-color: var(--color-gray);
    position: absolute;
    bottom: -8px;
    left: 0;
}

.btn-exit {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 40px;
    left: 24px;
}

.btn-exit:hover {
    color: var(--color-blue);
}

.btn-exit:hover .exit-icon svg path {
    stroke: var(--color-blue);
}

.btn-exit::before {
    content: '';
    display: block;
    width: 2px;
    height: 0;
    position: absolute;
    bottom: -8px;
    left: -24px;
    transition: all 0.3s ease-in-out;
}

.btn-exit:hover::before {
    height: 40px;
    background-color: var(--color-blue);
}