.content-wrapper{
    width: 1170px;
    margin: 0 auto;
}
.sidebar {
    width: 264px;
    float: left;
}

.content {
    width: 866px;
    float: right;
}

.menu-wrapper {
    align-items: flex-start;
    padding: 0 0 34px 0;
    border-bottom: 1px solid var(--color-gray-opacity-10);;
}

.title {
    color: var(--color-gray);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.count {
    color: var(--color-gray-opacity-60);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.btn-add {
    color: var(--color-white);
    font-size: 14px;
    display: inline-flex;
    font-weight: 500;
    line-height: 24px;
    background-color: var(--color-blue);
    padding: 8px 52px 8px 16px;
}

.btn-add:hover {
    background-color: var(--color-light-blue);
}

.btn-add:active {
    background-color: var(--color-dark-blue);
}

.plus-icon {
    content: "";
    background-color: var(--color-white);
    display: block;
    height: 2px;
    width: 12px;
    position: relative;
    left: 26px;
    top: 11px;
}
.plus-icon::before {
    content: "";
    background-color: var(--color-white);
    display: block;
    height: 12px;
    width: 2px;
    position: absolute;
    right: 5px;
    top: -5px;
}




.input-wrapper {
    width: 420px;
    position: relative;
}

.search-field {
    background-color: var(--color-white);
    border: none;
    width: 100%;
    height: 40px;
    padding: 12px 16px;
}

.search-field:focus {
    background-clip: padding-box;
    outline-color: var(--color-gray-opacity-40);
}

.search-field:focus::placeholder {
    color: transparent;
}

.content-search {
    background-color: transparent;
    position: relative;
    bottom: 30px;
    left: 388px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-gray-opacity-40);
    border-radius: 50%;
}

.content-search::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 9px;
    width: 7px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--color-gray-opacity-40);
    transform: rotate(45deg);
}

.search-field:focus + .content-search {
    border: 2px solid var(--icon-color);
}

.search-field:focus + .content-search::after {
    background-color: var(--icon-color);
}